<div class="authorization-popup flex-column rounded-10 d-none d-md-flex">
                        <h1 class="font-size-20 arial-caps text-gray">რეგისტრაცია</h1>
						                     <form class="mt-4 d-flex flex-column" method="post">
                        <input id="regName" class="authorization-input mb-3 font-size-14 arial text-gray rounded-10 is-valid" placeholder="მეტსახელი" value="" name="username">
						                        <input id="regName" class="authorization-input mb-3 font-size-14 arial text-gray rounded-10 is-valid" placeholder="სახელი" value="" name="name">
                        						<input id="regName" class="authorization-input mb-3 font-size-14 arial text-gray rounded-10 is-valid" placeholder="გვარი" value="" name="surname">
                        						<select name="sex" class="authorization-input mb-3 font-size-14 arial text-gray rounded-10">
                           <option value="0" selected="">აირჩიე სქესი</option>
                           <option value="1">მდედრობითი</option>
                           <option value="2">მამრობითი</option>
                        </select>
						                        <input id="regEmail" class="authorization-input mb-3 font-size-14 arial text-gray rounded-10 is-valid" placeholder="ელ. ფოსტა" value="" type="email" name="email">
                        						<input id="regPass" class="authorization-input mb-3 font-size-14 arial text-gray rounded-10 is-valid" placeholder="პაროლი" type="password" name="password">
                        						<input id="regPassRep" class="authorization-input mb-3 font-size-14 arial text-gray rounded-10 is-valid" placeholder="გაიმეორე პაროლი" type="password" name="password_confirmation">
                        						<div class="d-flex align-items-center justify-content-end mt-5">
                           <a href="https://movie.ge/sign_in" class="log-btn btn rounded-10 arial font-size-14 text-gray mr-3" title="ავტორიზაცია">ავტორიზაცია</a>
                           <button class="reg-btn btn btn-primary rounded-38 arial font-size-14 text-main" title="რეგისტრაცია" type="submit" name="signup" value="signup">რეგისტრაცია</button>
                        </div>
                     </form>
                  </div>